html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 64px;
  background-color: #364353;
}

.logo {
  width: 100px;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 32px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 96px;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 98px;
}

.hero-text {
  width: 400px;
}

.hero-text-title {
  font-size: 48px;
  font-weight: 700;
}

.hero-text-secondary {
  color: #e5e7eb;
  font-size: 18px;
  margin-top: 16px;
}

.hero-image {
  width: 400px;
  height: auto;
}

button {
  border: none;
  outline: none;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  border-radius: 10px;
  padding: 8px 32px;
  margin-top: 32px;
}

.info h2 {
  font-size: 36px;
  color: #1f2937;
  text-align: center;
  margin: 32px;
}

.illustrations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 64px;
}

.info {
  margin-bottom: 32px;
}

article {
  width: 200px;
}

.illustrations img {
  border-radius: 10px;
}

.illustrations p {
  text-align: center;
  font-size: 18px;
}

blockquote {
  padding: 64px 224px;
  background: #e5e7eb;
  color: #1f2937;
  font-size: 20px;
}

blockquote p {
  font-style: italic;
}

blockquote footer {
  margin-top: 16px;
  text-align: right;
}

.cta {
  background-color: #3882f6;
  color: #f9faf8;
  display: flex;
  margin: 64px 128px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 128px;
  padding: 64px;
}

.cta h3 {
  font-size: 30px;
  font-weight: 500;
}

.cta p {
  font-size: 18px;
}

.cta button {
  border: 2px solid #f9faf8;
  align-self: center;
}

.footer {
  background-color: #364353;
  color: #e5e7eb;
  text-align: center;
  padding: 32px;
  font-size: 16px;
}
